.wrap{
  width: 1200px;
  margin: 0 auto;
  padding: 99px 0;
}
.block{
  display: block;
}
.hide{
  display: none;
}
.h2{
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 500;
}
.slim{
  font-weight:300;  
}
.p{
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 400;
}